<launch>
    <param name="/use_sim_time" value="true" />


    <!-- start world -->
    <node name="gazebo" pkg="gazebo_ros" type="gazebo" args="$(find turtlebot3_gazebo)/worlds/turtlebot3_empty.world" respawn="false" output="screen" />

    <!-- starting the interface -->
    <node name="interface" pkg="mr_shape_formation" type="interfaz.py"/>

    <!-- include our robots and the program to move them-->
    <include file="$(find mr_shape_formation)/launch/robots.launch">
        <arg name="is_centralized" value="true" />
    </include>

    <!-- launching the branch & bound algorithm node-->
    <node name="bb_alg" pkg="mr_shape_formation" type="bb" output="screen"/>

</launch>